body {
    width: 100%;
    height: 100%;
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: url(img/Cursor.png), auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

hgroup {
    display: inline-block;
}

figure {
    display: inline-block;
}

.logo img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 34px;
    background-image: url(img/swords.png);
    transition: ease 0.4s all;
    cursor: url(img/Cursor-Hover.png), auto;
}

.logo img:hover{
    width: 120px;
    height: 120px;
    background-image: url(img/swords-hover.png);
    filter: saturate(100%);
    cursor: url(img/Cursor-Hover.png), auto;
}

h1 {
    font-family: "Jacquard 12", monospace;
    font-size: 110px;
    color: #f43c04;
    text-decoration: none;
    font-weight: 400;
    word-wrap: break-word;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1C1C2C;
    text-shadow: 4px 4px 4px rgba(106, 61, 48, 0.6);
    display: inline-block;
    position: relative;
    top: 16px; 
    cursor: url(img/Cursor.png), auto;
}

h1:hover {
    cursor: url(img/Cursor-Hover.png), auto;
}

a {
    cursor: url(img/Cursor.png), auto;
}

a:hover {
    cursor: url(img/Cursor-Hover.png), auto;
}


/* Navigation */
nav {
    display: inline-block;
    position: relative;
    top: 24px;
    
}

nav ul li {
    font-family: "Kelly Slab";
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    padding: 11px 14px;
    border: 1px solid white;
    border-right: 0px;
    border-left: 0px;
    border-radius: 2px;
    margin: auto 2px;
    transition: ease 0.3s all;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: ease 0.3s all;
}

nav ul li:hover {
    background-color: #1C1C2C;
}

nav ul li a:hover {
    color: #f43c04;
    font-size: 32px;
}

.current {
    background-color: #f43c04;
}

.current:hover {
    background-color: #ff3c01;
}

.current a {
    font-weight: 700;
    color: #1C1C2C;
    transition: ease 0.3s all;
}

.current a:hover {
    color: white;
}

h2 {
    font-family: "Kelly Slab", sans-serif;
    font-size: 60px;
    color: white;
    position: relative;
    left: 76px;
    top: 40px;

}